canvas {
    margin: 0 auto;
    display: block;
}

#rb{
    position: absolute;
    top: 320px;
    left: 671px;
    width: 192px;
    height: 60px;
    font-style: italic;
    font-size: xx-large;
    background-color: lawngreen;
}

#rb1{
    position: absolute;
    top: 320px;
    left: 671px;
    width: 192px;
    height: 60px;
    font-style: italic;
    font-size: xx-large;
    background-color: lawngreen;
}

#sb{
    position: absolute;
    top: 320px;
    left: 671px;
    width: 192px;
    height: 60px;
    font-style: italic;
    font-size: xx-large;
    background-color: lawngreen;
}